<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<th:block th:include="~{fragments/nav}"/>
<h1 class="text-lg-center mb-5">Remove Role from Account</h1>
<div class="container">
    <form class="needs-validation" novalidate method="POST"
          th:action="@{/admin/role/remove}" th:object="${roleBinding}">

        <div class="form-row justify-content-center">
            <div class="col-md-4 mb-3">
                <div th:if="${success}" class="alert alert-success">
                    <strong>Success!</strong> You have removed Role from the account!
                </div>
                <label for="username">Account Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bi bi-person" id="inputGroupPrepend"></span>
                    </div>
                    <input th:field="*{username}" type="text" class="form-control" id="username" name="username"
                           placeholder="Enter account username"
                           aria-describedby="inputGroupPrepend" required>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-4 mb-3 justify-content-center">
                <label for="accountRole">Role</label>

                <select class="form-control" th:field="*{role}" id="accountRole" required>
                    <option th:each="r : ${roles}" th:value="${r.getRole().name()}" th:text="${r.getRole().name()}"></option>
                </select>

                <a class="text-danger text-sm-center position-absolute"
                   th:if="${notFound}">Account not found Try again
                </a>
                <a class="text-danger text-sm-center position-absolute"
                   th:if="${noRole}">This account don't has this role!
                </a>

            </div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-primary" type="submit">Remove Role</button>
        </div>
    </form>
</div>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>