<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script th:src="@{/js/search.js}"></script>

</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="sidebar">
                <h6>Search Location</h6>
                <div class="widget border-0">
                    <div class="locations">
                        <input id="searchInput" class="form-control" type="search" placeholder="All Locations">
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-9">
                <div class="col-auto">
                    <h6 class="mb-0">There are <span class="text-primary"
                                                     th:text="${stayListings.size()} + ' properties'"></span> on our
                        website
                    </h6>
                </div>

            <div class="listingList">
                <div th:each="st : ${stayListings}">
                    <div class="card m-2">
                        <h5 class="card-header text-center" th:text="*{st.listingTitle}"></h5>
                        <div class="card-body">
                            <img class="float-left mr-3" height="100" th:src="*{st.pictures.get(0).pictureUrl}">
                            <h5 class="card-title" th:text="'' + *{st.country} + ', ' + *{st.city}"></h5>
                            <a class="card-text" th:text="'Type - '+  *{st.stayType.getName()}"></a><br>
                            <a class="card-text" th:text="'Available Rooms: '+  *{st.availabilityLeft}"></a><br>
                            <a class="card-text" th:text="'Price per night: '+  *{st.pricePerNight}"></a>
                            <a class="card-text float-right"
                               th:text="${#dates.format(st.createdOn, 'dd-MMM-yyyy HH:mm')}"></a>
                            <hr>
                            <div class="text-center">
                                <h6 class="font-weight-bold">Stay Properties</h6>
                                <div class="row justify-content-center">
                                    <ul class="list-group col-auto">
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasWifi} ? '✔ Wifi' : '✖ Wifi'"></li>
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasTV} ? '✔ TV' : '✖ TV'"></li>
                                    </ul>
                                    <ul class="list-group col-auto">
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasBathroom} ? '✔ Bathroom' : '✖ Bathroom'"></li>
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasBedroom} ? '✔ Bedroom' : '✖ Bedroom'"></li>
                                    </ul>
                                    <ul class="list-group col-auto">
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasFreeBreakfast} ? '✔ Free Breakfast' : '✖ Free Breakfast'"></li>
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasRestaurant} ? '✔ Restaurant' : '✖ Restaurant'"></li>
                                    </ul>
                                    <ul class="list-group col-auto">
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasParking} ? '✔ Parking' : '✖ Parking'"></li>
                                        <li class="list-group-item"
                                            th:text="*{st.stayProperties.hasCityView} ? '✔ City View' : '✖ City View'"></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                            <div class="text-center">
                                <h6 class="font-weight-bold">About the place</h6>
                                <span class="bg-gray-300" th:text="*{st.description}"></span>
                            </div>
                            <hr>
                            <a th:href="@{'/stay/view/' + *{st.id}+''}" class="btn btn-outline-info btn-block">View</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center mt-4 mt-sm-5">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item disabled"><span class="page-link">Prev</span></li>
                            <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span
                                    class="sr-only">(current)</span></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:include="~{fragments/footer}"></th:block>

</html>