<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container mt-3">
    <div th:object="${stayListing}">
        <h1 class="font-weight-bold text-center m-5">Reserve your stay</h1>
        <div class="card m-auto">
            <h5 class="card-header text-center" th:text="*{listingTitle}"></h5>
            <div class="card-body" style="background:#f7f7f7;">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-50 m-auto"
                                 th:src="${stayListing.pictures.get(0).pictureUrl}"
                                 alt="First slide">

                        </div>
                        <div class="carousel-item" th:each="p : *{pictures}">
                            <img class="d-block w-50 m-auto"
                                 th:src="${p.pictureUrl}"
                                 alt="slide">

                        </div>
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="text-center mb-5">
                    <h5 class="card-title" th:text="'' + *{country} + ', ' + *{city}"></h5>
                    <a class="card-text" th:text="'Type - '+  *{stayType.getName()}"></a><br>
                    <a class="card-text" th:text="'Available Rooms: '+  *{availabilityLeft}"></a><br>
                    <a class="card-text" th:text="'Price per night: '+  *{pricePerNight}"></a><br>
                </div>

                <form method="post" th:object="${book}" th:action="@{'/account/book/stay/' + ${stayListing.id}}">
                    <div class="justify-content-center">
                        <div class="row">
                            <div class="col-3 m-auto">
                                <label for="check-in" class="font-weight-bold">Check In</label>
                                <input class="form-control " type="date" id="check-in"
                                       th:field="${book.checkIn}" th:value="${book.checkIn}">
                                <small th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}"
                                       class="text-danger">
                                </small>

                            </div>
                            <div class="col-3 m-auto">
                                <label for="check-out" class="font-weight-bold">Check Out</label>
                                <input class="form-control" type="date" id="check-out"
                                       th:field="${book.checkOut}"
                                       th:value="${book.checkOut}">
                                <small th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}"
                                       class="text-danger">
                                </small>
                            </div>
                            <div class="col-3 m-auto">
                                <label for="guests" class="font-weight-bold">Guests</label>
                                <input class="form-control m-auto" type="number" id="guests"
                                       th:field="${book.guests}">
                                <small th:if="${#fields.hasErrors('guests')}" th:errors="*{guests}" class="text-danger">
                                </small>
                            </div>

                            <div class="form-row justify-content-center">

                                <div class="col-md-6 mb-2">
                                    <label for="description">Any requirements</label>
                                    <div class="input-group">
                    <textarea rows="5" th:field="*{requirements}" type="text-area" class="form-control"
                              id="description" placeholder="Fill this field if you have any requirements"
                              aria-describedby="inputGroupPrepend2" required></textarea>
                                    </div>
                                    <small th:if="${#fields.hasErrors('requirements')}"
                                           class="text-danger" th:errors="*{requirements}"></small>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-outline-primary btn-block mt-5">Book</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
</body>
<th:block th:include="~{fragments/footer}"></th:block>

</html>