<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="container mt-5">
    <div th:object="${stayListing}">
        <div class="card m-auto">
            <h5 class="card-header text-center" th:text="*{listingTitle}"></h5>
            <div class="card-body" style="background:#f7f7f7;">


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-50 m-auto"
                                 th:src="${stayListing.pictures.get(0).pictureUrl}"
                                 alt="First slide">

                        </div>
                        <div class="carousel-item" th:each="p : *{pictures}">
                            <img class="d-block w-50 m-auto"
                                 th:src="${p.pictureUrl}"
                                 alt="slide">

                        </div>
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <hr>
                <div class="text-center">
                    <h5 class="card-title" th:text="'' + *{country} + ', ' + *{city}"></h5>
                    <a class="card-text" th:text="'Type - '+  *{stayType.getName()}"></a><br>
                    <a class="card-text" th:text="'Available Rooms: '+  *{availabilityLeft}"></a><br>
                    <a class="card-text" th:text="'Price per night: '+  *{pricePerNight}"></a><br>

                    <a class="card-text float-right"
                       th:text="${#dates.format(stayListing.createdOn, 'dd-MMM-yyyy HH:mm')}"></a><br>
                </div>
                <hr>
                <div class="text-center">
                    <h6 class="font-weight-bold">Stay Properties</h6>
                    <div class="row justify-content-center">
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasWifi} ? '✔ Wifi' : '✖ Wifi'"></li>
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasTV} ? '✔ TV' : '✖ TV'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasBathroom} ? '✔ Bathroom' : '✖ Bathroom'"></li>
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasBedroom} ? '✔ Bedroom' : '✖ Bedroom'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasFreeBreakfast} ? '✔ Free Breakfast' : '✖ Free Breakfast'"></li>
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasRestaurant} ? '✔ Restaurant' : '✖ Restaurant'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasParking} ? '✔ Parking' : '✖ Parking'"></li>
                            <li class="list-group-item"
                                th:text="*{stayProperties.hasCityView} ? '✔ City View' : '✖ City View'"></li>
                        </ul>
                    </div>
                </div>
                <hr>

                <div class="text-center">
                    <h6 class="font-weight-bold">About the place</h6>
                    <span class="bg-gray-300" th:text="*{description}"></span>
                </div>
                <hr>
                <a th:href="@{'/account/book/stay/' + *{id}+''}" class="btn btn-outline-info btn-block">Reserve</a>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:include="~{fragments/footer}"></th:block>

</html>