<!-- Footer -->
<footer class="bg-light text-lg-start pt-3 mt-5">
    <!-- Grid container -->
    <div class="container-fluid">
        <!--Grid row-->
        <div class="row m-3 justify-content-center">
            <div class="col-lg-1">
                <h5 class="font-weight-bold">Account</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/account/register" class="text-dark">Register</a>
                    </li>
                    <li>
                        <a href="/account/login" class="text-dark">Login</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1">
                <h5 class="font-weight-bold">Listings</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/stay" class="text-dark">Stay</a>
                    </li>
                    <li>
                        <a href="/train" class="text-dark">Train</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2021
        <a class="text-dark" href="/">Booking App</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->