<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>
<th:block th:include="~{fragments/nav}"></th:block>


<div class="container">
    <h1 class="text-center mb-3 font-weight-bold text-capitalize">My Listings</h1>
    <div th:if="${successListingAdd}" class="alert alert-success">
        <strong>Success!</strong> You have added new listing!
    </div>
    <div th:if="${success}" class="alert alert-success">
        <strong>Success!</strong> You have updated your listing!
    </div>
    <hr>
    <div th:each="st : ${stayListings}">
        <div class="card m-2">
            <h5 class="card-header text-center" th:text="*{st.listingTitle}"></h5>
            <div class="card-body">
                <div class="col-auto">
                    <img class="mr-3 float-left" height="300" th:src="*{st.pictures.get(0).pictureUrl}">
                </div>
                <div class="col-auto">
                    <h5 class="card-title" th:text="'' + *{st.country} + ', ' + *{st.city}"></h5>
                    <h6 class="card-text" th:text="'Adress: ' + *{st.address} "></h6>

                    <a class="card-text" th:text="'Type - '+  *{st.stayType.getName()}"></a><br>
                    <a class="card-text" th:text="'Available Rooms: '+  *{st.availabilityLeft}"></a><br>

                    <a class="card-text" th:text="'Price per night: '+  *{st.pricePerNight} + 'lv.'"></a><br>
                    <a class="card-text" th:text="'Contact Number: '+  *{st.contactNumber}"></a><br>
                    <a class="card-text" th:text="'Pictures added: '+  *{st.pictures.size()}"></a><br>
                </div><br><br><br><br><br><br>
                <a class="card-text float-right"
                   th:text="'Added on ' + ${#dates.format(st.createdOn, 'dd-MMM-yyyy HH:mm')}"></a>
                <br>
                <br>
                <div class="col-auto text-center">
                    <h6 class="font-weight-bold">Stay Properties</h6>
                    <div class="row justify-content-center">
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasWifi} ? '✔ Wifi' : '✖ Wifi'"></li>
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasTV} ? '✔ TV' : '✖ TV'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasBathroom} ? '✔ Bathroom' : '✖ Bathroom'"></li>
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasBedroom} ? '✔ Bedroom' : '✖ Bedroom'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasFreeBreakfast} ? '✔ Free Breakfast' : '✖ Free Breakfast'"></li>
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasRestaurant} ? '✔ Restaurant' : '✖ Restaurant'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasParking} ? '✔ Parking' : '✖ Parking'"></li>
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasCityView} ? '✔ City View' : '✖ City View'"></li>
                        </ul>
                        <ul class="list-group col-auto">
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.allInclusive} ? '✔ All Inclusive' : '✖ All Inclusive'"></li>
                            <li class="list-group-item"
                                th:text="*{st.stayProperties.hasElevator} ? '✔ Elevator' : '✖ Elevator'"></li>
                        </ul>
                    </div>
                </div>
                <hr>

                <div class="text-center">
                    <h6 class="font-weight-bold">About the place</h6>
                    <span class="bg-gray-300" th:text="*{st.description}"></span>
                </div>
                <hr>
                <a th:href="@{'/listing/stay/edit/' + *{st.id}+''}" class="btn btn-outline-info btn-block">Click to
                    edit</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>