<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:include="~{fragments/nav}"></th:block>

<div class="container-fluid position-relative">
    <div class="row">


        <h1 class="ml2 position-absolute text-light display-2 font-weight-bold p-5" style="font-size: 5.5vw;">
            Seems like unexpected error occurred!
        </h1>
    </div>

</div>
</body>
<th:block th:include="~{fragments/footer}"></th:block>
</html>
