<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:include="~{fragments/nav}"></th:block>

<img class="img-fluid" style="position: absolute; " src="https://i.imgur.com/dibcEgw.jpg">
<div class="container-fluid">

    <div class="row">
        <div class="col-5" style="margin-left: 5%; margin-top: 5%; margin-bottom: 7%">
            <p class="text-light display-3 font-weight-bold p-5" style="font-size: 5.0vw;">Your
                dream vacation in a few clicks</p>
        </div>
    </div>


    <div class="container-fluid mt-4">
        <hr>
        <h2 class="font-weight-bold text-center">Recently Added</h2>
        <hr>
        <div class="row justify-content-center">


            <div th:each="l : ${listings}" class="row m-3">
                <div class="col-auto">
                    <div class="card h-500">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img height="150"
                                     th:src="${l.pictures.get(0).pictureUrl}"
                                     alt="Listing picture">
                            </div>
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="mb-0 font-weight-bold">Listing Title</h6>
                                        <span th:text="*{l.listingTitle}"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm">
                                        <h6 class="mb-0 font-weight-bold">Location</h6>
                                        <span th:text="'' + *{l.country} + ' ' + *{l.city} + ''"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm">
                                        <h6 class="mb-0 font-weight-bold">Price per night</h6>
                                        <span th:text="*{l.pricePerNight}"></span>
                                    </div>
                                </div>
                                <hr>
                                <a class="card-text float-right"
                                   th:text="${#dates.format(l.createdOn, 'dd-MMM-yyyy HH:mm')}"></a>
                                <br>
                                <a class="justify-content-center btn btn-outline-primary"
                                   th:href="'/stay/view/' + ${l.id}">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
<th:block th:include="~{fragments/footer}"></th:block>
</html>
