<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:include="~{fragments/nav}"></th:block>

<div class="container-fluid position-relative">
    <div class="row">
        <img class="img-fluid position-absolute" src="https://i.imgur.com/e6h6rqk.jpg">
        <div class="col-xs-8 col-md-5 position-relative" style="margin-top: 5%; margin-left: 5%; bottom: auto">
            <h1 class="ml2 position-absolute text-light display-2 font-weight-bold p-5" style="font-size: 5.5vw;">Your
                dream vacation in a few clicks</h1>

        </div>
    </div>

</div>
</body>
<th:block th:include="~{fragments/footer}"></th:block>
</html>
